{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Sign up{% endblock %}

{% block breadcrumb %}Sign up{% endblock %}



{% block signup-active %}active{% endblock %}

{% block main %}

<!-- Portfolio -->
    <section class="portfolio" id="portfolio">
        <div class="container section-wrapper">
            <h2 class="section-title black">
                Sign Up
            </h2> <!-- /.section-title -->
            <div class="underline blue"></div>

                <p class="errors">{{ valid }}</p>
            <hr>
            <div class="row">
                <form method="POST" accept="{% url 'signup' %}">
                    {% csrf_token %}
                    </br>
                    {{form.as_p}}
                    </br>
                    <input type="submit" value="Sign up!">
                </form>
            </div>
        </div>
    </section>

{% endblock %}